---
import Layout from '../layouts/Instrumentkontroll.astro';
---
 
<Layout title="Instrumentkontroll Bessmann AB">
	<div class="main-grid">
        <header>
            <nav>
                <a href="#start"><img class="logo" src="images/logo.svg" alt="Instrumentkontroll"></a>
                <ul class="primary-nav">
                    <li>
                        <a href="#om-oss" data-list-no="01">Om oss</a>
                    </li>
                    <li>
                        <a href="#tjanster" data-list-no="02">Tjänster</a>
                    </li>
                    <li>
                        <a href="#kunder" data-list-no="03">Kunder</a>
                    </li>
                    <li>
                        <a href="#kontakt" data-list-no="04">Kontakt</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="main-content-wrapper">
                <section id="start">
                    <h1>Man blir som man mäter.</h1>
                    <p>Vissa säger att vi på Instrumentkontroll är petimetrar. Och det kanske stämmer. Men när vi kalibrerar, reparerar och underhåller din verksamhets mätinstrument så känns det mest som en bra grej, faktiskt.</p>
                </section>
                <section id="om-oss">
                    <h2>Om oss</h2>
                    <div class="text-guides">
                        <p>Instrumentkontroll grundades i augusti 1944 och vi har sedan dess varit en pålitlig aktör inom reparation, underhållsservice och kalibrering av elektriska mätinstrument samt materialprovningsutrustningar. Vår expertis sträcker sig över landbaserade och fartygsbaserade system. Vi bedriver vår verksamhet från vår egen verkstad, vilket ger oss fullständig kontroll över våra processer och resultat.</p>
                        <p>Vi är stolta över att vara en auktoriserad servicestation för Honeywell Tanksystem Sa (CH). Vi erbjuder professionell underhållsservice och kalibrering av dragprovningsutrustning och materialprovningsutrustning från Lloyd Instruments Ltd (GB). Utöver detta har vi lång erfarenhet av att arbeta med en mängd olika fabrikat och utrustningar som finns på marknaden. Det inkluderar styr- och reglerutrustningar samt registrerade instrument och mätloop.</p>
                        <p>Vi strävar alltid efter att erbjuda högkvalitativ service och nöjda kunder är vår främsta prioritet. Vår kompetenta personal är dedikerad till att lösa problem, utföra reparationer och genomföra kalibreringar med stor noggrannhet. Vi är stolta över vårt rykte för pålitlighet och professionalism inom branschen.</p>
                        <p>Oavsett om du behöver reparation, underhåll eller kalibrering, kan du lita på Instrumentkontroll för att leverera pålitliga och effektiva lösningar. Vi ser fram emot att få hjälpa dig med dina behov inom elektriska mätinstrument och materialprovningsutrustningar.</p>
                    </div>
                </section>
                <section id="tjanster">
                    <h2>Tjänster</h2>
                    <div class="text-guides">
                        <h3>Vi utför reparationer av:</h3>
                        <ul>
                            <li>Elektriska mätinstrument (analoga, digitala, panel- och handinstrument)</li>
                            <li>Temperaturmätutrustning</li>
                            <li>Tryckmätutrustning</li>
                            <li>Nivåmätutrustning</li>
                            <li>Flödesmätutrustning</li>
                            <li>Materialprovningsutrustning</li>
                            <li>Varvtalsutrustning</li>
                            <li>Registerande utrustning</li>
                        </ul>
                        <h3>Spårbar kalibrering enligt följande:</h3>
                        <ul>
                            <li>Spänning</li>
                            <li>Ström</li>
                            <li>Frekvens</li>
                            <li>Resistans</li>
                            <li>Temperatur</li>
                            <li>Tryck</li>
                            <li>Kraft</li>
                        </ul>
                    </div>
                </section>
                <section id="kunder">
                    <h2>Kunder</h2>
                    <div class="text-guides">
                        <h3>Våra kunder finns inom följande branscher:</h3>
                        <ul>
                            <li>Petrokemisk industri</li>
                            <li>Rederier och varvsindustri</li>
                            <li>Plastindustri</li>
                            <li>Verkstadsindustri</li>
                            <li>Bilindustri</li>
                            <li>Kraftdistribution</li>
                            <li>Livsmedelsindustri</li>
                        </ul>
                    </div>
                </section>
                <section id="kontakt">
                    <h2>Kontakt</h2>
                    <div class="text-guides">
                        <dl>
                            <dt>Postadress</dt>
                            <dd>Box 4076, 400 40 Göteborg</dd>
                            <dt>Besök och leverans</dt>
                            <dd>Varholmsgatan 1, 414 74 Göteborg</dd>
                            <dt>E-post</dt>
                            <dd>info@instrumentkontroll.se</dd>
                            <dt>Telefon</dt>
                            <dd>031-24 05 10</dd>
                            <dt>Mobil</dt>
                            <dd>076-17 23 063</dd>
                        </dl>
                    </div>
                </section>
            </div>
        </main>
        </div>
    </div>
</Layout>

<style>
	.main-grid {
		display: grid;
		grid-template-areas:
			"header main"
		;
		grid-template-columns: minmax(min-content, max-content) auto;
	}
	header {
		align-items: center;
		background-color: var(--indigo-12);
		display: flex;
		flex-direction: column;
		max-height: 100vh;
		padding: var(--size-5);
		position: sticky;
		grid-area: header;
		top: 0;
		overflow: auto;
		z-index: 1;
	}
	.logo {
		aspect-ratio: 1/1;
		background-color: var(--indigo-11);
		border-radius: var(--size-3);
		padding: var(--size-3);
		width: 100%;
	}
	.primary-nav {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		list-style-type: none;
		padding: 0;
	}
	.primary-nav li {
		padding: 0;
	}
	.primary-nav a {
		align-items: center;
		background-color: var(--indigo-11);
		border: 1px solid var(--gray-0);
		border-radius: 0.125rem;
		box-shadow: 
			0 0.125rem 0 0 var(--gray-0)
		;
		color: var(--gray-0);
		display: flex;
		font-weight: 700;
		padding: var(--size-3);
		padding-inline-start: var(--size-7);
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.1s ease;
	}
	.primary-nav a:hover {
		background-color: var(--indigo-9);
		box-shadow: 
			0 0.25rem 0 0 var(--gray-0)
		;
		text-decoration: underline;
		text-decoration-color: var(--red-5);
		text-decoration-thickness: var(--size-1);
		text-underline-offset: var(--size-1);
		transform: translateY(-0.125em);
	}
	.primary-nav a:active {
		background-color: var(--indigo-11);
		transform: translateY(0.125em);
		box-shadow: none;
	}
	.primary-nav a::before {
		border-width: 2.5rem 2.5rem 0px 0px;
		border-style: solid;
		border-color: var(--brown-1) transparent transparent var(--brown-1);
		content: "";
		left: 0;
		position: absolute;
		top: 0;
	}
	.primary-nav a::after {
		color: var(--stone-12);
		content: attr(data-list-no);
		font-family: var(--font-mono);
		font-size: var(--font-size-0);
		font-weight: 400;
		height: var(--size-6);
		position: absolute;
		top: 0.125rem;
		left: 0.25rem;
	}
	.primary-nav a:hover::before {
		text-decoration: none;
	}
	main {
		grid-area: main;
	}
	main::before {
		background-blend-mode: hard-light;
		background-color: hsl(var(--gray-2-hsl) / 10%);
		content: "";
		opacity: 0.6;
		background-image: 
			linear-gradient(var(--gray-2) 2.8000000000000003px,transparent 2.8000000000000003px),
			linear-gradient(90deg, var(--gray-2) 2.8000000000000003px, transparent 2.8000000000000003px),
			linear-gradient(var(--gray-2) 1.4000000000000001px, transparent 1.4000000000000001px),
			linear-gradient(90deg, var(--gray-2) 1.4000000000000001px, transparent 1.4000000000000001px)
			;
		background-size: 70px 70px, 70px 70px, 14px 14px, 14px 14px;
		background-position: -2.8000000000000003px -2.8000000000000003px, -2.8000000000000003px -2.8000000000000003px, -1.4000000000000001px -1.4000000000000001px, -1.4000000000000001px -1.4000000000000001px;
		position: fixed;
		inset: 0;
	}
	.main-content-wrapper {
		isolation: isolate;
		z-index: 1;
	}
	section#start, section#om-oss, section#tjanster, section#kunder, section#kontakt {
		height: 100dvh;
		margin: 0 auto;
		padding: var(--size-fluid-3);
	}
	section::after {
		block-size: 2rem;
	}
	section#start {
		align-items: center;
		background-image: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.3)), 
			url('./images/ibrahim-boran-iYkqHp5cGQ4-unsplash.jpg');
		background-attachment: fixed;
		background-size: cover;
		color: var(--gray-1);
		display: flex;
		font-family: var(--font-display);
		flex-direction: column;
		justify-content: space-around;
		padding: var(--size-fluid-5);
		position: relative;
		text-align: center;
	}
	section#start h1 {
		font-size: var(--step-5);
		font-weight: 400;
		text-shadow: 0 0 2rem var(--gray-12);
		max-width: 35ch;
		text-align: center;
	}
	section#start p {
		font-size: var(--step-2);
		line-height: var(--font-lineheight-1);
		max-width: 65ch;
		text-shadow: 0 0 2rem var(--gray-12);
	}
	.image-container {
		overflow: hidden;
	}
	.image-container img {
		aspect-ratio: var(--ratio-widescreen);
		object-fit: cover;
		object-position: 0 20%;
		width: 80%;
	}
</style>
