---
interface Props {
  title: 'Instrumentkontroll Bessmann AB';
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="sv">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Astro description" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../meta/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../meta/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../meta/favicon-16x16.png"
    />
    <link rel="manifest" href="../../meta/site.webmanifest" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body
    x-data="{ openMenu : false }"
    :class="openMenu ? 'overflow-hidden' : 'overflow-visible' "
  >
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>

    <slot />

    <script src="https://web3forms.com/client/script.js" async defer></script>
  </body>
</html>
<style is:global>
  /* Before anything, load Andy Bell's modern CSS Reset */
  @import url('../styles/andy-bells-modern-reset.css');
  /* Then load Adam Argyle's Open Props */
  @import 'https://unpkg.com/open-props';
  @import 'https://unpkg.com/open-props/colors-hsl.min.css';
  /* Fonts */
  @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&family=IBM+Plex+Sans+Condensed:ital,wght@0,400;0,700;1,400;1,700&family=IBM+Plex+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
  /* Typography */
  @import url('../styles/typography.css');

  :root {
    --font-mono: 'IBM Plex Mono', monospace;
    --font-sans: 'IBM Plex Sans', sans-serif;
    --font-display: 'IBM Plex Sans Condensed', sans-serif;
  }
  body {
    color: var(--gray-10);
    font-family: var(--font-sans);
  }
</style>
